.profile {
  margin: 0 auto;
  padding: 42px 0 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 680px) {
  .profile {
    flex-direction: column;
    padding-bottom: 40px;
  }
}
