.popup__error-text {
  display: block;
  max-width: 358px;
  min-height: 36px;
  margin: 0;
  padding: 0 0 0 36px;
}

@media (max-width: 680px) {
  .popup__error-text {
    max-width: 238px;
    padding-left: 24px;
  }
}
